/* ============================================================
  BASE
============================================================ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  //border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* ============================================================
  HTML & BODY
============================================================ */
body {
  background-color: #b4b4b4;
  color: #000000;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

/* ============================================================
  STRUCTURE
============================================================ */
.wrapper {
  width: 100%;
  margin: 0 auto;
}

main {
  display: block;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ============================================================
  TEXTE
============================================================ */
a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #818181;
}




/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("../img/demo/_small/1.jpg");
}
section.module.parallax-2 {
  background-image: url("../img/demo/_small/2.jpg");
}
section.module.parallax-3 {
  background-image: url("../img/demo/_small/3.jpg");
}
section.module.parallax-4 {
  background-image: url("../img/demo/_small/4.jpg");
}
section.module.parallax-5 {
  background-image: url("../img/demo/_small/5.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}

/* ==================================
             MENU
=================================== */

#menu,
#menu ul,
#menu ul li,
#menu ul li a,
#menu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#menu:after,
#menu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu #menu-button {
  display: none;
}
#menu {
  font-family: Montserrat, sans-serif;
  background: #333333;
}
#menu > ul > li {
  float: left;
}
#menu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#menu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#menu.align-center ul ul {
  text-align: left;
}
#menu.align-right > ul > li {
  float: right;
}
#menu > ul > li > a {
  padding: 17px;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 700;
  text-transform: uppercase;
}
#menu > ul > li:hover > a {
  color: #ffffff;
}
#menu > ul > li.has-sub > a {
  padding-right: 30px;
}
#menu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#menu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#menu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}
#menu ul ul {
  position: absolute;
  left: -9999px;
}
#menu.align-right ul ul {
  text-align: right;
}
#menu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#menu li:hover > ul {
  left: auto;
}
#menu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#menu li:hover > ul > li {
  height: 35px;
}
#menu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#menu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#menu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 170px;
  font-size: 12px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 400;
  background: #333333;
}
#menu ul ul li:last-child > a,
#menu ul ul li.last-item > a {
  border-bottom: 0;
}
#menu ul ul li:hover > a,
#menu ul ul li a:hover {
  color: #ffffff;
}
#menu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#menu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
#menu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#menu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#menu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #menu {
    width: 100%;
  }
  #menu ul {
    width: 100%;
    display: none;
  }
  #menu.align-center > ul {
    text-align: left;
  }
  #menu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2);
  }
  #menu ul ul li,
  #menu li:hover > ul > li {
    height: auto;
  }
  #menu ul li a,
  #menu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }
  #menu > ul > li {
    float: none;
  }
  #menu ul ul li a {
    padding-left: 25px;
  }
  #menu ul ul ul li a {
    padding-left: 35px;
  }
  #menu ul ul li a {
    color: #dddddd;
    background: none;
  }
  #menu ul ul li:hover > a,
  #menu ul ul li.active > a {
    color: #ffffff;
  }
  #menu ul ul,
  #menu ul ul ul,
  #menu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  #menu > ul > li.has-sub > a:after,
  #menu > ul > li.has-sub > a:before,
  #menu ul ul > li.has-sub > a:after,
  #menu ul ul > li.has-sub > a:before {
    display: none;
  }
  #menu #menu-button {
    display: block;
    padding: 17px;
    color: #dddddd;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #menu #menu-button:after {
    position: absolute;
    top: 22px;
    right: 17px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    content: '';
  }
  #menu #menu-button:before {
    position: absolute;
    top: 16px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: #dddddd;
    content: '';
  }
  #menu #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #menu #menu-button.menu-opened:before {
    top: 23px;
    background: #ffffff;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #menu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  #menu .submenu-button.submenu-opened {
    background: #262626;
  }
  #menu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  #menu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
  }
  #menu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  #menu .submenu-button.submenu-opened:after {
    background: #ffffff;
  }
  #menu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
  }
  #menu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  #menu .submenu-button.submenu-opened:before {
    display: none;
  }
  
  
}

/* ==================================
             AGRANDIR IMAGE
=================================== */
  
html, body {
    padding:0;
    margin:0;
    height:100%
}
  
#cache {
    position:absolute;
    background:rgba(0,0,0,0);
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: -1;
    transition:background .5s
}
#cache:target {
    background:rgba(0,0,0,.5);
    z-index: 1;
}
.popup {
    position:absolute;
    z-index: 1000;
    display:none;
    top:30px;
    left:300px;
}
.popup a {
    position:absolute;
    background: #333;
    color:#fff;
    border-radius: 50%;
    width:20px;
    line-height: 20px;
    text-align: center;
    font-family:arial;
    right:0;
    text-decoration: none;
}
#cache:target ~ .popup {
    display:block;
}
/* 2ieme image */
#cache1 {
    position:absolute;
    background:rgba(0,0,0,0);
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: -1;
    transition:background .5s
}
#cache1:target {
    background:rgba(0,0,0,.5);
    z-index: 1;
}
.popup1 {
    position:absolute;
    z-index: 1000;
    display:none;
    top:30px;
    left:300px;
}
.popup1 a {
    position:absolute;
    background: #333;
    color:#fff;
    border-radius: 50%;
    width:20px;
    line-height: 20px;
    text-align: center;
    font-family:arial;
    right:0;
    text-decoration: none;
}
#cache1:target ~ .popup1 {
    display:block;
}

/* =Shadow Nav
-------------------------------------------------------------------------- */
	#menu-anim-jquery { /* formatage général de la liste*/
		margin: 0 auto 50px auto;
		padding: 50px 0 0 127px; /* rembourage  au-dessus, à droite, en bas 
			et à gauche */
		width: 497px; /* largeur de la liste --> doit¸être juste assez large
		  pour l'image des 4 icônes, plus large et les icônes vont se répéter
		  plus étroit et les icônes vont s'afficher sur plusieurs lignes */
		min-height: 130px;
		text-align: center;
		list-style: none; /* liste sans points */
		}
		
	#menu-anim-jquery li { /* formatage de chaque ligne de la liste */
		margin-right: 15px;
		width: 81px;
		height: 72px;
		position: relative;
		float: left;
		}
		
	/*  formatage de chaque lien et découpage en block des boutons
    	et formattage quand la souris survol un bouton */
	#menu-anim-jquery a, #menu-anim-jquery a:hover{
		margin: 0 auto;
		width: 59px;
		height: 59px;
		padding-top: 15px;
		text-indent: 0px; 
		overflow: hidden;
		background-image: url(../img/icons.png);
		background-repeat: no-repeat;
		display: block;
		position: relative;
		z-index: 2; /* affiche au-dessus de z-index: 1 */
		}
		
	/* Button Colors */
	#menu-anim-jquery li.bouton-1 a {
		background-position: -3px -3px;
		}
	#menu-anim-jquery li.bouton-2 a {
		background-position: -92px -3px;
		}
	#menu-anim-jquery li.bouton-3 a {
		background-position: -181px -3px;
		}
	#menu-anim-jquery li.bouton-4 a {
		background-position: -270px -3px;
		}
		
	/* Button Shadow */
	#menu-anim-jquery li img.shadow { /* formatage de chaque ligne de la 
		liste et de l'ombre */
		margin: 0 auto;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
		}
	
	/* Navigation */
#navigation {
	background: #C0C0C0;
}
#navigation a {
	color: #000000;
}
#navigation a:hover, #navigation a:focus {
	background: #FFD700;
}

/* Contenu principal */
#contenu {
	color: #000000;
	background: #C0C0C0;
}
#contenu a {
	color: #332510;
}
#contenu a:hover, #contenu a:focus {
	color: #6E5122;
}
#contenu strong {
	color: #000000;
}

